<ion-header >
  <ion-toolbar class="toolbar-bg">
    <ion-title class="ion-text-center">Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" type="submit" >
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <div>
      <ion-grid>
        <div class="overlay">
          <ion-avatar>
            <img class="profil-pic" src="{{profilPic}}" alt="defaultPic">
              <button type="submit" class="add-pp" (click)="selectImage()">
                <ion-icon name="camera"></ion-icon>
              </button>
          </ion-avatar>
          <ion-row>
            <ion-card-content>
              <ion-item>
                <ion-icon style="color: white; padding-right: 0.5rem;" name="mail"></ion-icon>
                <ion-label>{{userService.user.email}}</ion-label>
              </ion-item>
            </ion-card-content>
          </ion-row>
        </div>
      </ion-grid>

    </div>
    <div>
      <button type="submit" style="color: #d7ad21;" class="rounded-btn " (click)="achievementTrophy()">
        <ion-icon name="trophy"></ion-icon>
      </button>
      <button type="submit" style="color: #05CBD6;" class="rounded-btn ">
        <ion-icon name="stats-chart"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>
