<ion-header>
  <ion-toolbar class="toolbar-bg ion-text-center">
    <div class="toolbar-content">
      <div (click)="leaveLearnMode()">
        <ion-icon name="close-circle-outline"></ion-icon>
        <ion-text style="padding-left: 0.25rem">Quit</ion-text>
      </div>
      <h5 *ngIf="!showStatistic">{{currentPuzzleIndex + 1}}/{{puzzles.length}}</h5>
      <h5 *ngIf="showStatistic">Statistic</h5>
      <div (click)="changeLanguage()">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        <p>{{answerLanguage === 'eng' ? 'ENG' : 'DE'}}</p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="learn-container ion-padding" *ngIf="!showStatistic">
    <button class="next-button"
            (click)="nextPuzzle()"
            [class.correct-answer]="result === true"
            [class.false-answer]="result === false"
            *ngIf="showNextPuzzleIcon">
      <ion-icon name="close-outline" class="ion-padding-start" *ngIf="result === false"></ion-icon>
      <ion-icon name="checkmark-outline" class="ion-padding-start" *ngIf="result === true"></ion-icon>
      Next puzzle
      <ion-icon name="chevron-forward-outline" class="ion-padding-end"></ion-icon>
    </button>
    <h5 *ngIf="!showNextPuzzleIcon">{{puzzles[currentPuzzleIndex].question}}</h5>
    <img *ngIf="!loadImageError" [src]="imageURL" alt="">
    <p *ngIf="loadImageError" class="ion-padding">Image could not be loaded</p>

    <div class="answers-container">

      <div class="answer-item"
           [class.shake-anim]="chosenAnswer === answer && !answer.correct"
           *ngFor="let answer of puzzles[currentPuzzleIndex].answers; let i = index"
           (click)="checkAnswer(answer)" >
        <p class="answer-position">{{checkPosition(i)}}</p>
        <p class="answer-text"
           [class.correct-answer-blink]="correctAnswer === answer"
           [class.correct-answer]="chosenAnswer === answer && answer.correct"
           [class.false-answer]="chosenAnswer === answer && !answer.correct"
        >
          {{answerLanguage === 'eng' ? answer.text : answer.germanText}}
        </p>

        <div class="answer-icon false-icon">
          <ion-icon name="close-outline" *ngIf="chosenAnswer === answer && !answer.correct"></ion-icon>
        </div>

        <div class="answer-icon correct-icon">
          <ion-icon name="checkmark-outline" *ngIf="chosenAnswer === answer && answer.correct"></ion-icon>
        </div>

      </div>

    </div>
  </div>
  <app-statistic-round
    [statistic]="statistic"
    *ngIf="showStatistic">
  </app-statistic-round>
</ion-content>
