<ion-header>
  <ion-toolbar class="toolbar-bg">
    <ion-title class="ion-text-center">Statistic</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="#000000"></ion-back-button>
    </ion-buttons>
    <ion-icon slot="end" name="stats-chart-outline" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="chart-container">
    <h4 class="ion-text-center">WinRatio</h4>
    <canvas class="ion-padding" #winRatioChart></canvas>
  </div>

  <div class="stats-summary">
    <h3 class="ion-text-center summary">Summary</h3>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <h5>Loss %</h5>
          <p>{{lossRatio ? lossRatio : 0}}%</p>
          <div class="percent-bar">
            <div class="percent-bar-progress" [style.width]="lossRatio + '%'"></div>
          </div>
        </ion-col>
        <ion-col class="ion-text-center">
          <h5>Puzzles played</h5>
          <p>{{puzzlesPlayed}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h5>6-Serie completed</h5>
          <p>{{sixSerienCompleted}}</p>
        </ion-col>
        <ion-col class="ion-text-center">
          <h5>Modules completed</h5>
          <p>{{modulesCompleted}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
