<ion-header>
  <ion-toolbar class="toolbar-bg"  *ngIf="!searchbarVisible">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  <ion-buttons (click)="showSearchbar()" class="ion-padding-end" slot="end" >
    <ion-icon  slot="icon-only" name="search-outline"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="toolbar-bg" *ngIf="searchbarVisible">
    <ion-searchbar #search class="toolbar-bg" style="padding: 0; color: white;"
                   showCancelButton="focus" placeholder="Search"
                   (ionInput)="filterList($event)" (ionCancel)="cancelSearch()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="ion-padding ion-text-center" style="color: white;" *ngIf="modules.length === 0 && searchbarVisible">No search results</p>

  <p class="ion-padding ion-text-center" style="color: white;" *ngIf="modules.length === 0 && !searchbarVisible">All modules already imported</p>

  <ion-list class="transparent">
    <ion-item button color="primary" style="--border-radius: 10px!important; padding-top: 2%; padding-right: 4%; padding-left: 4%" *ngFor="let module of modules" (click)="addModuleToUser(module.id)">
      <span slot="start">{{module.name}}</span>
      <ngb-rating style="color: #FFC107" slot="end" [max]="5" [(rate)]="module.difficulty" [readonly]="true" ></ngb-rating>
    </ion-item>
  </ion-list>

</ion-content>
