<ion-header>
  <ion-toolbar class="toolbar-bg"  *ngIf="!searchbarVisible">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  <ion-buttons (click)="showSearchbar()" class="" slot="end" >
    <ion-icon  slot="icon-only" name="search-outline"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="toolbar-bg" *ngIf="searchbarVisible">
    <ion-searchbar #search class="toolbar-bg" style="padding: 0"
                   showCancelButton="focus" placeholder="Search"
                   (ionInput)="filterList($event)" (ionCancel)="cancelSearch()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button color="primary" style="--border-radius: 10px!important;padding-top: 2%; padding-right: 4%; padding-left: 4%" *ngFor="let module of modules" (click)="addModuleToUser(module.id)">
      {{module.name}}
    </ion-item>
  </ion-list>
</ion-content>
