<ion-header>
  <ion-toolbar color = "primary">
    <ion-title class="ion-text-center">Statistic</ion-title>
    <ion-buttons slot = "start"  (click)="back()">
      <ion-icon slot = "icon-only" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
</ion-header>

<ion-content>
  <div class="statistic-content">
    <p>
      <span>{{statistic.calcWinRatio()}}%</span>
      
  </div>

   <span >
     Loss %   <b>{{lossRatio}}%</b> 
   </span>
   <span >
    puzzlesPlayed   <b>{{puzzlesPlayed}}</b> 
  </span>
  <span >
    6-Serie-Completed   <b>{{sixSerienCompleted}}</b> 
  </span>
  <span >
    Modules Completed   <b>{{modulesCompleted}}%</b> 
  </span>


</ion-content>
