<ion-header>
  <ion-toolbar class="toolbar-bg">
    <ion-title class="ion-text-center">Achievements</ion-title>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-icon slot="end" name="trophy-outline" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <main class="ion-padding">
    <div
      *ngFor="let achievement of userAchievements"
      (click)="showAchievementInfo(achievement)"
      [class.locked]="!achievement.received"
      class="achievement">
      <img [src]="achievement.icon" alt="Achievement icon">
      <p>{{achievement.text}}</p>
    </div>
  </main>

  <div class="ion-text-center ion-padding" *ngIf="userAchievements.length === 0">
    <p style="color: white;">Error while loading achievements!</p>
  </div>

</ion-content>

