<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Zurück" color="#000000"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="startSearch()">
        <ion-icon slot="icon-only" name="search">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center">
    <p>Pick a Module</p>
  </div>
  <ion-item-sliding style="padding-top: 2%; padding-right: 4%; padding-left: 4%" *ngFor="let module of modules">
    <ion-item button color="primary" style="--border-radius: 10px!important;" (click)="startRiddle(module.id)">
      <span slot="start">{{module.name}}</span>
      <ngb-rating style="color: #FFC107" slot="end" [max]="5" [(rate)]="module.difficulty" [readonly]="false"></ngb-rating>
    </ion-item>

    <ion-item-options style="padding-top: 2%; padding-right: 4%; padding-left: 4%" >
      <ion-item-option color="danger" style=" --border-radius: 10px!important;">
        <ion-icon name="trash-outline" (click)="removeModule(module.id)"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item button (click)="importModule()" color="success" style="padding-left: 30%; padding-right: 30%; padding-top: 5%; --border-radius: 10px">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center" style="padding: 0">
          <ion-icon name="add-circle" size="large"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center" style="padding: 0">
          <span>Import Module</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
