<ion-header>
  <ion-toolbar class="toolbar-bg">
    <ion-title class="ion-text-center">Puzzles</ion-title>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="showInfo()">
        <ion-icon name="information-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="ion-text-center" *ngIf="puzzles.length > 0">Pick a card</h4>
  <div class="puzzles-container">
    <div class="puzzle-item"
         (click)="selectPuzzle(puzzle.id)"
         *ngFor="let puzzle of puzzles; let i = index">
      <p>{{i + 1}}</p>
    </div>
  </div>
  <p class="ion-text-center ion-padding" style="color: white;" *ngIf="puzzles.length === 0">
    <ion-icon name="checkmark-circle-outline"></ion-icon>
    Module successfully completed. All cards learned!
  </p>
</ion-content>
