main {
  color: white;
  h2 {
    margin-top: 2rem;
    font-size: 2rem;
  }
  p {
    span {
      color: green;
      font-weight: bold;
    }
  }
}
.icon-attribution {
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 2rem;
  opacity: 80%;
}
