#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.achievement{
  color: #d7ad21;
}
.stats{
  color: #05CBD6;
}
.help{
  color: white;
  height: 70px;
  width: 70px;
}
.user{
  color: #00e5ff;
  height: 50px;
  width: 50px;
  font-size: x-large;
}
.container > *{
  margin-bottom: 15px;
}
