.achievement {
  color: #d7ad21;
  width: 100px;
  height: 100px;
}
.stats {
  color: #05CBD6;
  width: 100px;
  height: 100px;
}
.help {
  color: white;
  height: 70px;
  width: 70px;
}
.user {
  color: #00e5ff;
  height: 50px;
  width: 50px;
  font-size: x-large;
}
.container > * {
  margin-bottom: 15px;
}
